$stanford-cardinal: #8c1515;
$stanford-cardinal-dark: #831414;
$stanford-cream: #f8f6ea;
$stanford-border: #eee6cb;
$stanford-text: #585754;
$stanford-heading: #2e2d29;
$stanford-muted-gold: #d2c295;

$body-background-color: #fff;
$sidebar-color: $stanford-cream;
$search-background-color: #fff;
$table-background-color: #fff;
$code-background-color: $stanford-cream;

$body-text-color: $stanford-text;
$body-heading-color: $stanford-heading;
$search-result-preview-color: $stanford-text;
$nav-child-link-color: $stanford-text;
$link-color: $stanford-cardinal;
$btn-primary-color: $stanford-cardinal-dark;
$base-button-color: $stanford-cream;

$border-color: $stanford-border;
